<div data-ng-controller="PostsCtrl as vm">
    <h2>{{vm.title}}</h2>
    <div>
        <label>Filter</label>
        <input data-ng-model="postFilter"/>
    </div>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <th>ID</th>
        <th>Time</th>
        <th>Post</th>
        </thead>
        <tbody>
        <tr data-ng-repeat="p in vm.posts | filter:postFilter">
            <td>{{p.id}}</td>
            <td>{{p.timestamp}}</td>
            <td>{{p.post}}</td>
        </tr>
        </tbody>
    </table>
</div>
